<a id="top"></a>

<nav class="navbar">
  <div class="nav-container">
    <span class="nav-title"><a href="https://yjmark.github.io">Jun, Youngsang</a></span>

    <!-- Hamburger toggle button -->
    <button class="nav-toggle" onclick="toggleMenu()">☰</button>

    <!-- Menu list -->
    <ul class="nav-links" id="navLinks">
      <li><a href="#top">Application of Geospatial Information in the Military Field</a></li>
      <li><a href="#PPA">Geospatial Analytics in Public Policy</a></li>
      <li><a href="#Comm">Communications using Geospatial Information</a></li>
      <li><a href="#transport">Transportation Memorandum Writing</a></li>
    </ul>
  </div>
</nav>

<!-- blank lines -->
<br><br><br><br>