<nav class="navbar">
  <div class="nav-container">
    <a href="https://yjmark.github.io"><span class="nav-title notranslate">Jun, Youngsang</span></a>

    <!-- Hamburger toggle button -->
    <button class="nav-toggle notranslate" onclick="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu list -->
    <ul class="nav-links" id="navLinks">
      <li><a href="https://yjmark.github.io#defs">Geospatial Information in Defense</a></li>
      <li><a href="/geospatial-analytics-in-public-policy#defs">Geospatial Analytics in Public Policy</a></li>
      <li><a href="/geospatial-communication#defs">Geospatial Communication</a></li>
    </ul>
  </div>
</nav>

<!-- blank lines -->
<br><br>